<div class="index">
  <div class="content">
    <div class="text">
      <h1>Cinema Ironhack</h1>
    </div>
    <button class="btn index-btn"><a href="/movies">Check the Movies</a></button>
  </div>
  
</div>
